{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block body %}
 
        <!-- start banner section -->
        
        <section class="no-padding cover-background position-relative" style='background-image: url("{% static 'images/portfolio-bg.jpg' %}");'>
            <div class="container position-relative h-800px md-h-600px sm-h-350px">
                <div class="row align-items-center h-100 md-padding-10-rem-bottom sm-no-padding-bottom">
                    <div class="col-lg-6 offset-lg-6 col-sm-7 offset-sm-5 text-center text-sm-left">
                        <h2 class="alt-font text-white letter-spacing-minus-1px margin-40px-bottom font-weight-500"><span class="text-decoration-line-bottom-thick">Warpick</span></h2>
                        <span class="alt-font text-white line-height-30px opacity-7 font-weight-300 text-extra-medium margin-40px-bottom d-block w-75 md-w-100 xs-w-80 mx-auto mx-sm-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste vel recusandae, voluptas amet dolorem mollitia. Beatae nemo atque commodi totam.</span>
                        <div class="social-icon-style-12">
                            <ul class="small-icon light">
                                <li><a class="facebook" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a class="twitter" href="http://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a class="dribbble" href="http://www.dribbble.com" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                                <li><a class="pinterest" href="https://www.pinterest.com/" target="_blank"><i class="fab fa-pinterest-p"></i></a></li>
                                <li><a class="linkedin" href="http://www.linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end banner section -->
        <!-- start section -->
        <section class="p-0 overflow-visible">
            <div class="container">
                <div class="row">
                    <div class="col-12 overlap-section px-0">
                        <div class="bg-white box-shadow-medium padding-4-rem-lr padding-2-half-rem-tb padding-4-rem-tb sm-box-shadow-none sm-border-bottom border-color-medium-gray">
                            <div class="row row-cols-1 row-cols-md-3 justify-content-center xs-no-margin-lr">
                                <!-- start feature box item -->
                                <div class="col col-sm-12 md-no-padding sm-margin-30px-bottom">
                                    <div class="feature-box padding-3-half-rem-all lg-padding-2-rem-all md-padding-1-rem-all">
                                        <div class="feature-box-icon">
                                            <i class="line-icon-Air-Balloon icon-medium text-fast-blue margin-35px-bottom md-margin-15px-bottom sm-margin-10px-bottom"></i>
                                        </div>
                                        <div class="feature-box-content last-paragraph-no-margin">
                                            <span class="alt-font font-weight-500 margin-10px-bottom d-block text-extra-dark-gray">Lorem, ipsum.</span>
                                            <p>Lorem ipsum is simply dummy text of the printing typesetting lorem ipsum been text</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- end feature box item -->
                                <!-- start feature box item -->
                                <div class="col col-sm-12 md-no-padding sm-margin-30px-bottom">
                                    <div class="feature-box padding-3-half-rem-all lg-padding-2-rem-all md-padding-1-rem-all">
                                        <div class="feature-box-icon">
                                            <i class="line-icon-Archery-2 icon-medium text-fast-blue margin-35px-bottom md-margin-15px-bottom sm-margin-10px-bottom"></i>
                                        </div>
                                        <div class="feature-box-content last-paragraph-no-margin">
                                            <span class="alt-font font-weight-500 margin-10px-bottom d-block text-extra-dark-gray">Lorem, ipsum.</span>
                                            <p>Lorem ipsum is simply dummy text of the printing typesetting lorem ipsum been text</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- end feature box item -->
                                <!-- start feature box item -->
                                <div class="col col-sm-12 md-no-padding">
                                    <div class="feature-box padding-3-half-rem-all lg-padding-2-rem-all md-padding-1-rem-all">
                                        <div class="feature-box-icon">
                                            <i class="line-icon-Knight icon-medium text-fast-blue margin-35px-bottom md-margin-15px-bottom sm-margin-10px-bottom"></i>
                                        </div>
                                        <div class="feature-box-content last-paragraph-no-margin">
                                            <span class="alt-font font-weight-500 margin-10px-bottom d-block text-extra-dark-gray">Lorem, ipsum.</span>
                                            <p>Lorem ipsum is simply dummy text of the printing typesetting lorem ipsum been text</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- end feature box item -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section class="wow animate__fadeIn">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-4 offset-lg-1 md-margin-5-rem-bottom">
                        <div class="margin-15px-bottom media text-fast-blue alt-font"><span class="h-1px align-self-center margin-10px-right w-10 bg-fast-blue"></span><div class="media-body">Accomplished skills</div></div>
                        <h5 class="text-extra-dark-gray font-weight-500 alt-font d-block margin-25px-bottom">We are the agency behind the game</h5>
                        <p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's standard dummy text ever since.</p>
                    </div>
                    <div class="col-12 col-lg-5 offset-lg-1 margin-30px-bottom">
                        <!-- start progress bar item -->
                        <div class="progress margin-4-rem-bottom sm-margin-6-rem-bottom">
                            <span class="progress-title alt-font text-small text-extra-dark-gray font-weight-500">Lorem, ipsum dolor.</span>
                            <div class="progress-bar bg-fast-blue" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"><span class="alt-font text-small text-extra-dark-gray font-weight-500">90%</span></div>
                        </div>
                        <!-- end progress bar item -->
                        <!-- start progress bar item -->
                        <div class="progress margin-4-rem-bottom sm-margin-6-rem-bottom">
                            <span class="progress-title alt-font text-small text-extra-dark-gray font-weight-500">Lorem, ipsum.</span>
                            <div class="progress-bar bg-fast-blue" role="progressbar" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100"><span class="alt-font text-small text-extra-dark-gray font-weight-500">94%</span></div>
                        </div>
                        <!-- end progress bar item -->
                        <!-- start progress bar item -->
                        <div class="progress margin-4-rem-bottom sm-margin-6-rem-bottom">
                            <span class="progress-title alt-font text-small text-extra-dark-gray font-weight-500">Lorem, ipsum.</span>
                            <div class="progress-bar bg-fast-blue" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"><span class="alt-font text-small text-extra-dark-gray font-weight-500">95%</span></div>
                        </div>
                        <!-- end progress bar item -->
                        <!-- start progress bar item -->
                        <div class="progress">
                            <span class="progress-title alt-font text-small text-extra-dark-gray font-weight-500">Lorem ipsum dolor sit.</span>
                            <div class="progress-bar bg-fast-blue" role="progressbar" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100"><span class="alt-font text-small text-extra-dark-gray font-weight-500">86%</span></div>
                        </div>
                        <!-- end progress bar item -->
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section class="wow animate__fadeIn">
            <div class="container">
                <div class="row">
                    <div class="col-12 tab-style-02">
                        <!-- start tab navigation -->
                        <ul class="nav nav-tabs justify-content-center text-center alt-font margin-6-rem-bottom sm-margin-3-rem-bottom">
                            <li class="nav-item"><a data-toggle="tab" href="#research" class="nav-link active"><i class="ti-light-bulb icon-small"></i>Development</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#strategy"><i class="ti-timer icon-small"></i>Performance</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#management"><i class="ti-pie-chart icon-small"></i>Analytics</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#concept"><i class="ti-crown icon-small"></i>Concept</a></li>
                        </ul>
                        <!-- end tab navigation -->
                        <div class="tab-content">
                            <!-- start tab item -->
                            <div id="research" class="tab-pane fade in active show">
                                <div class="row align-items-lg-center">
                                    <div class="col-12 col-lg-4 col-md-12 md-margin-6-rem-bottom sm-margin-4-rem-bottom">
                                        <img src="https://via.placeholder.com/800x550" alt="" />
                                    </div>
                                    <div class="col-12 col-lg-4 col-md-6 padding-4-rem-left lg-padding-2-rem-left md-padding-15px-left sm-margin-30px-bottom">
                                        <h6 class="alt-font font-weight-500 text-extra-dark-gray w-95 md-w-100">We are idea driven, working with a strong focus on design and user experience.</h6>
                                        <a href="https://www.youtube.com/watch?v=g0f_BRYJLJE" class="popup-youtube video-icon-box video-icon-small position-relative">
                                            <span>
                                                <span class="video-icon bg-gradient-light-purple-light-orange margin-15px-right">
                                                    <i class="icon-simple-line-control-play text-white"></i>
                                                    <span class="video-icon-sonar">
                                                        <span class="video-icon-sonar-bfr bg-gradient-light-purple-light-orange opacity-7"></span>
                                                    </span>
                                                </span>
                                                <span class="video-icon-text alt-font text-medium text-extra-dark-gray text-uppercase text-decoration-line-bottom d-inline-block font-weight-500 align-middle">Watch a projects</span>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="col-12 col-lg-4 col-md-6 last-paragraph-no-margin">
                                        <span class="alt-font text-extra-medium d-block text-extra-dark-gray margin-20px-bottom font-weight-500">Transform your ideas. We know that good design means good business.</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco laboris.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- end tab item -->
                            <!-- start tab item -->
                            <div id="strategy" class="tab-pane fade">
                                <div class="row align-items-lg-center">
                                    <div class="col-12 col-lg-4 col-md-12 md-margin-6-rem-bottom sm-margin-4-rem-bottom">
                                        <img src="https://via.placeholder.com/800x550" alt="" />
                                    </div>
                                    <div class="col-12 col-lg-4 col-md-6 padding-4-rem-left lg-padding-2-rem-left md-padding-15px-left sm-margin-30px-bottom">
                                        <h6 class="alt-font font-weight-500 text-extra-dark-gray w-95 md-w-100">We are idea driven, working with a strong focus on design and user experience.</h6>
                                        <a href="https://www.youtube.com/watch?v=g0f_BRYJLJE" class="popup-youtube video-icon-box video-icon-small position-relative">
                                            <span>
                                                <span class="video-icon bg-gradient-light-purple-light-orange margin-15px-right">
                                                    <i class="icon-simple-line-control-play text-white"></i>
                                                    <span class="video-icon-sonar">
                                                        <span class="video-icon-sonar-bfr bg-gradient-light-purple-light-orange opacity-7"></span>
                                                        <span class="video-icon-sonar-afr bg-gradient-light-purple-light-orange"></span>
                                                    </span>
                                                </span>
                                                <span class="video-icon-text alt-font text-medium text-extra-dark-gray text-uppercase text-decoration-line-bottom d-inline-block font-weight-500 align-middle">Watch a projects</span>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="col-12 col-lg-4 col-md-6 last-paragraph-no-margin">
                                        <span class="alt-font text-extra-medium d-block text-extra-dark-gray margin-20px-bottom font-weight-500">Transform your ideas. We know that good design means good business.</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco laboris.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- end tab item -->
                            <!-- start tab item -->
                            <div id="management" class="tab-pane fade">
                                <div class="row align-items-lg-center">
                                    <div class="col-12 col-lg-4 col-md-12 md-margin-6-rem-bottom sm-margin-4-rem-bottom">
                                        <img src="https://via.placeholder.com/800x550" alt="" />
                                    </div>
                                    <div class="col-12 col-lg-4 col-md-6 padding-4-rem-left lg-padding-2-rem-left md-padding-15px-left sm-margin-30px-bottom">
                                        <h6 class="alt-font font-weight-500 text-extra-dark-gray w-95 md-w-100">We are idea driven, working with a strong focus on design and user experience.</h6>
                                        <a href="https://www.youtube.com/watch?v=g0f_BRYJLJE" class="popup-youtube video-icon-box video-icon-small position-relative">
                                            <span>
                                                <span class="video-icon bg-gradient-light-purple-light-orange margin-15px-right">
                                                    <i class="icon-simple-line-control-play text-white"></i>
                                                    <span class="video-icon-sonar">
                                                        <span class="video-icon-sonar-bfr bg-gradient-light-purple-light-orange opacity-7"></span>
                                                        <span class="video-icon-sonar-afr bg-gradient-light-purple-light-orange"></span>
                                                    </span>
                                                </span>
                                                <span class="video-icon-text alt-font text-medium text-extra-dark-gray text-uppercase text-decoration-line-bottom d-inline-block font-weight-500 align-middle">Watch a projects</span>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="col-12 col-lg-4 col-md-6 last-paragraph-no-margin">
                                        <span class="alt-font text-extra-medium d-block text-extra-dark-gray margin-20px-bottom font-weight-500">Transform your ideas. We know that good design means good business.</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco laboris.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- end tab item -->
                            <!-- start tab item -->
                            <div id="concept" class="tab-pane fade">
                                <div class="row align-items-lg-center">
                                    <div class="col-12 col-lg-4 col-md-12 md-margin-6-rem-bottom sm-margin-4-rem-bottom">
                                        <img src="https://via.placeholder.com/800x550" alt="" />
                                    </div>
                                    <div class="col-12 col-lg-4 col-md-6 padding-4-rem-left lg-padding-2-rem-left md-padding-15px-left sm-margin-30px-bottom">
                                        <h6 class="alt-font font-weight-500 text-extra-dark-gray w-95 md-w-100">We are idea driven, working with a strong focus on design and user experience.</h6>
                                        <a href="https://www.youtube.com/watch?v=g0f_BRYJLJE" class="popup-youtube video-icon-box video-icon-small position-relative">
                                            <span>
                                                <span class="video-icon bg-gradient-light-purple-light-orange margin-15px-right">
                                                    <i class="icon-simple-line-control-play text-white"></i>
                                                    <span class="video-icon-sonar">
                                                        <span class="video-icon-sonar-bfr bg-gradient-light-purple-light-orange opacity-7"></span>
                                                        <span class="video-icon-sonar-afr bg-gradient-light-purple-light-orange"></span>
                                                    </span>
                                                </span>
                                                <span class="video-icon-text alt-font text-medium text-extra-dark-gray text-uppercase text-decoration-line-bottom d-inline-block font-weight-500 align-middle">Watch a projects</span>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="col-12 col-lg-4 col-md-6 last-paragraph-no-margin">
                                        <span class="alt-font text-extra-medium d-block text-extra-dark-gray margin-20px-bottom font-weight-500">Transform your ideas. We know that good design means good business.</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco laboris.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- end tab item -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section id="portfolio" class="wow animate__fadeIn">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-md-3 text-center text-md-left sm-margin-5-rem-bottom">
                        <h6 class="alt-font text-extra-dark-gray font-weight-500 no-margin-bottom">Recent work</h6>
                    </div>
                    <div class="col-12 col-md-9 text-center text-md-right">
                        <!-- start filter navigation -->
                        <ul class="portfolio-filter grid-filter nav nav-tabs justify-content-end alt-font">
                            <li class="nav active d-xs-inline "><a class="d-xs-inline xs-w-100" data-filter="*" href="#">All</a></li>
                            <li class="nav d-xs-inline "><a class="d-xs-inline xs-w-100" data-filter=".branding" href="#">Branding</a></li>
                            <li class="nav d-xs-inline "><a class="d-xs-inline xs-w-100" data-filter=".graphics" href="#">Graphics</a></li>
                            <li class="nav d-xs-inline "><a class="d-xs-inline xs-w-100" data-filter=".logos" href="#">Logos</a></li>
                            <li class="nav d-xs-inline "><a class="d-xs-inline xs-w-100" data-filter=".web" href="#">Web</a></li>
                        </ul>
                        <!-- end filter navigation -->
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="filter-content w-100 margin-6-half-rem-top lg-margin-4-rem-top margin-8-half-rem-bottom lg-margin-6-rem-bottom sm-margin-3-rem-tb">
                            <ul class="portfolio-overlay portfolio-wrapper grid grid-loading grid-4col xl-grid-4col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-large text-center">
                                <li class="grid-sizer"></li>
                                <!-- start portfolio item -->
                                <li class="grid-item branding graphics logos wow animate__fadeIn">
                                    <a href="single-project-page-01.html">
                                        <div class="portfolio-box">
                                            <div class="portfolio-image bg-gradient-sky-blue-pink">
                                                <img src="https://via.placeholder.com/800x650" alt="" />
                                                <div class="portfolio-hover justify-content-end d-flex flex-column padding-50px-tb xl-padding-30px-tb">
                                                    <i class="ti-plus portfolio-plus-icon font-weight-300 text-white absolute-middle-center icon-extra-small move-top-bottom"></i>
                                                    <div class="alt-font text-white font-weight-500 d-block">Daimler Financial</div>
                                                    <div class="text-medium d-block text-white opacity-7">Brochure</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <!-- end portfolio item -->
                                <!-- start portfolio item -->
                                <li class="grid-item graphics web wow animate__fadeIn" data-wow-delay="0.2s">
                                    <a href="single-project-page-02.html">
                                        <div class="portfolio-box">
                                            <div class="portfolio-image bg-gradient-sky-blue-pink">
                                                <img src="https://via.placeholder.com/800x650" alt="" />
                                                <div class="portfolio-hover justify-content-end d-flex flex-column padding-50px-tb xl-padding-30px-tb">
                                                    <i class="ti-plus portfolio-plus-icon font-weight-300 text-white absolute-middle-center icon-extra-small move-top-bottom"></i>
                                                    <div class="alt-font text-white font-weight-500 d-block">Waterlly Lake</div>
                                                    <div class="text-medium d-block text-white opacity-7">Branding</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <!-- end portfolio item -->
                                <!-- start portfolio item -->
                                <li class="grid-item branding web wow animate__fadeIn" data-wow-delay="0.4s">
                                    <a href="single-project-page-03.html">
                                        <div class="portfolio-box">
                                            <div class="portfolio-image bg-gradient-sky-blue-pink">
                                                <img src="https://via.placeholder.com/800x650" alt="" />
                                                <div class="portfolio-hover justify-content-end d-flex flex-column padding-50px-tb xl-padding-30px-tb">
                                                    <i class="ti-plus portfolio-plus-icon font-weight-300 text-white absolute-middle-center icon-extra-small move-top-bottom"></i>
                                                    <div class="alt-font text-white font-weight-500 d-block">Jeremy Dupont</div>
                                                    <div class="text-medium d-block text-white opacity-7">Photography</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <!-- end portfolio item -->
                                <!-- start portfolio item -->
                                <li class="grid-item branding logos wow animate__fadeIn" data-wow-delay="0.6s">
                                    <a href="single-project-page-02.html">
                                        <div class="portfolio-box">
                                            <div class="portfolio-image bg-gradient-sky-blue-pink">
                                                <img src="https://via.placeholder.com/800x650" alt="" />
                                                <div class="portfolio-hover justify-content-end d-flex flex-column padding-50px-tb xl-padding-30px-tb">
                                                    <i class="ti-plus portfolio-plus-icon font-weight-300 text-white absolute-middle-center icon-extra-small move-top-bottom"></i>
                                                    <div class="alt-font text-white font-weight-500 d-block">Bill Gardner</div>
                                                    <div class="text-medium d-block text-white opacity-7">Photography</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <!-- end portfolio item -->
                                <!-- start portfolio item -->
                                <li class="grid-item graphics logos wow animate__fadeIn">
                                    <a href="single-project-page-04.html">
                                        <div class="portfolio-box">
                                            <div class="portfolio-image bg-gradient-sky-blue-pink">
                                                <img src="https://via.placeholder.com/800x650" alt="" />
                                                <div class="portfolio-hover justify-content-end d-flex flex-column padding-50px-tb xl-padding-30px-tb">
                                                    <i class="ti-plus portfolio-plus-icon font-weight-300 text-white absolute-middle-center icon-extra-small move-top-bottom"></i>
                                                    <div class="alt-font text-white font-weight-500 d-block">The Manchester</div>
                                                    <div class="text-medium d-block text-white opacity-7">Photography</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <!-- end portfolio item -->
                                <!-- start portfolio item -->
                                <li class="grid-item web wow animate__fadeIn" data-wow-delay="0.2s">
                                    <a href="single-project-page-01.html">
                                        <div class="portfolio-box">
                                            <div class="portfolio-image bg-gradient-sky-blue-pink">
                                                <img src="https://via.placeholder.com/800x650" alt="" />
                                                <div class="portfolio-hover justify-content-end d-flex flex-column padding-50px-tb xl-padding-30px-tb">
                                                    <i class="ti-plus portfolio-plus-icon font-weight-300 text-white absolute-middle-center icon-extra-small move-top-bottom"></i>
                                                    <div class="alt-font text-white font-weight-500 d-block">Armchair Mojo</div>
                                                    <div class="text-medium d-block text-white opacity-7">Photography</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <!-- end portfolio item -->
                                <!-- start portfolio item -->
                                <li class="grid-item logos web wow animate__fadeIn" data-wow-delay="0.4s">
                                    <a href="single-project-page-05.html">
                                        <div class="portfolio-box">
                                            <div class="portfolio-image bg-gradient-sky-blue-pink">
                                                <img src="https://via.placeholder.com/800x650" alt="" />
                                                <div class="portfolio-hover justify-content-end d-flex flex-column padding-50px-tb xl-padding-30px-tb">
                                                    <i class="ti-plus portfolio-plus-icon font-weight-300 text-white absolute-middle-center icon-extra-small move-top-bottom"></i>
                                                    <div class="alt-font text-white font-weight-500 d-block">Truenorth Web</div>
                                                    <div class="text-medium d-block text-white opacity-7">Identity</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <!-- end portfolio item -->
                                <!-- start portfolio item -->
                                <li class="grid-item branding graphics wow animate__fadeIn" data-wow-delay="0.6s">
                                    <a href="single-project-page-03.html">
                                        <div class="portfolio-box">
                                            <div class="portfolio-image bg-gradient-sky-blue-pink">
                                                <img src="https://via.placeholder.com/800x650" alt="" />
                                                <div class="portfolio-hover justify-content-end d-flex flex-column padding-50px-tb xl-padding-30px-tb">
                                                    <i class="ti-plus portfolio-plus-icon font-weight-300 text-white absolute-middle-center icon-extra-small move-top-bottom"></i>
                                                    <div class="alt-font text-white font-weight-500 d-block">Mass Productions</div>
                                                    <div class="text-medium d-block text-white opacity-7">Branding</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <!-- end portfolio item -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 col-md-2 text-center text-md-left sm-margin-10px-bottom d-md-inline-block d-none">
                        <span class="sm-100px w-100 h-1px d-inline-block align-middle bg-fast-blue"></span>
                    </div>
                    <div class="col-12 col-lg-7 col-md-6 col-sm-8 text-center text-md-left sm-margin-30px-bottom">
                        <span class="text-extra-large alt-font text-extra-dark-gray">We create digital ideas that are <span class="font-weight-600">bigger, braver and better.</span></span>
                    </div>
                    <div class="col-12 col-lg-3 col-md-4 text-center text-md-left">
                        <a href="portfolio-colorful-masonry.html" class="btn btn-medium btn-dark-gray">Explore Portfolio<i class="ti-arrow-right right-icon"></i></a>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section class="wow animate__fadeIn">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 col-lg-5 col-md-8 col-sm-10 md-margin-5-half-rem-bottom">
                        <div class="padding-3-rem-all bg-white box-shadow-small box-shadow-extra-large-hover border-radius-6px margin-3-rem-bottom text-center">
                            <h4 class="text-fast-blue alt-font font-weight-500 letter-spacing-minus-1px mb-sm-0 d-inline-block align-middle w-110px text-sm-left xs-w-100 counter" data-speed="2000" data-to="2013"></h4>
                            <div class="d-inline-block align-middle text-sm-left border-left border-color-medium-gray padding-35px-left xs-no-border-left xs-no-padding-left">
                                <span class="alt-font text-extra-dark-gray font-weight-500 line-height-16px d-block">Winning awards</span>                            
                                <span class="alt-font line-height-0px">for creative design</span>                            
                            </div>
                        </div>
                        <div class="padding-3-rem-all bg-white box-shadow-medium box-shadow-extra-large-hover border-radius-6px margin-3-rem-bottom text-center">
                            <h4 class="text-fast-blue alt-font font-weight-500 letter-spacing-minus-1px mb-sm-0 d-inline-block align-middle w-110px text-sm-left xs-w-100 counter" data-speed="2000" data-to="2014"></h4>
                            <div class="d-inline-block align-middle text-sm-left border-left border-color-medium-gray padding-35px-left xs-no-border-left xs-no-padding-left">
                                <span class="alt-font text-extra-dark-gray font-weight-500 line-height-16px d-block">Nominee for jury</span>                            
                                <span class="alt-font line-height-0px">in awwwards.com</span>                            
                            </div>
                        </div>
                        <div class="padding-3-rem-all bg-white box-shadow-medium box-shadow-extra-large-hover border-radius-6px text-center">
                            <h4 class="text-fast-blue alt-font font-weight-500 letter-spacing-minus-1px mb-sm-0 d-inline-block align-middle w-110px text-sm-left xs-w-100 counter" data-speed="2000" data-to="2018"></h4>
                            <div class="d-inline-block align-middle text-sm-left border-left border-color-medium-gray padding-35px-left xs-no-border-left xs-no-padding-left">
                                <span class="alt-font text-extra-dark-gray font-weight-500 line-height-16px d-block">Creative designer</span>                            
                                <span class="alt-font line-height-0px">in apple design</span>                            
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-12 col-lg-7 col-xl-6 offset-xl-1 text-center text-md-left">
                        <div class="row">
                            <div class="col-12 col-md-9 offset-md-3">
                                <h5 class="alt-font margin-3-rem-bottom font-weight-500 text-extra-dark-gray">A smiling story <span class="text-decoration-line-bottom-thick font-weight-600">about us</span></h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-3 alt-font text-extra-dark-gray text-md-right padding-20px-right xs-margin-5px-bottom">about us</div>
                            <div class="col-12 col-md-9 margin-2-half-rem-bottom">Hi there, I am a Brian Wilson creative developer and designer, I enjoy building beautiful and thoughtful experiences. I like to mix code surprising visuals and pleasing interactions.
                                <div class="w-100 h-1px bg-extra-dark-gray margin-2-half-rem-top opacity-1"></div>
                            </div>
                            <div class="col-12 col-md-3 alt-font text-extra-dark-gray text-md-right padding-20px-right xs-margin-5px-bottom">current job</div>
                            <div class="col-12 col-md-9 margin-2-half-rem-bottom">Currently working with good people and pushing <a class="text-extra-dark-gray text-decoration-underline" href="https://envato.com" target="_blank">envato studio</a> in beautiful King Street, Melbourne, Australia.
                                <div class="w-100 h-1px bg-extra-dark-gray margin-2-half-rem-top opacity-1"></div>
                            </div>
                            <div class="col-12 col-md-3 alt-font text-extra-dark-gray text-md-right padding-20px-right xs-margin-5px-bottom">expertise</div>
                            <div class="col-12 col-md-9">Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's standard dummy text ever since.</div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="container margin-8-rem-top md-margin-5-half-rem-top">
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 col-sm-auto text-center sm-margin-10px-bottom">
                        <span class="alt-font">On social networks</span>
                    </div>
                    <div class="col-12 col-sm-auto text-center">
                        <div class="social-icon-style-02">
                            <ul class="small-icon">
                                <li><a class="facebook" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a class="dribbble" href="http://www.dribbble.com" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                                <li><a class="twitter" href="http://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a class="instagram" href="http://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                <li><a class="linkedin" href="http://www.linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section class="padding-100px-tb md-padding-75px-tb sm-padding-40px-tb wow animate__fadeIn">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- start client slider -->
                        <div class="swiper-container text-center" data-slider-options='{ "slidesPerView": 1, "loop": true, "navigation": { "nextEl": ".swiper-button-next-nav", "prevEl": ".swiper-button-previous-nav" }, "autoplay": { "delay": 3000, "disableOnInteraction": false }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "1200": { "slidesPerView": 4 }, "992": { "slidesPerView": 3 }, "768": { "slidesPerView": 3 } } }'>
                            <div class="swiper-wrapper">
                                <!-- start slider item --><div class="swiper-slide"><a href="https://envato.com/" target="_blank"><img alt="" src="https://via.placeholder.com/232x110"></a></div><!-- end slider item -->
                                <!-- start slider item --><div class="swiper-slide"><a href="https://magento.com/" target="_blank"><img alt="" src="https://via.placeholder.com/232x110"></a></div><!-- end slider item -->
                                <!-- start slider item --><div class="swiper-slide"><a href="https://www.pingdom.com/" target="_blank"><img alt="" src="https://via.placeholder.com/232x110"></a></div><!-- end slider item -->
                                <!-- start slider item --><div class="swiper-slide"><a href="https://www.awwwards.com/" target="_blank"><img alt="" src="https://via.placeholder.com/232x110"></a></div><!-- end slider item -->
                                <!-- start slider item --><div class="swiper-slide"><a href="https://colorlib.com/" target="_blank"><img alt="" src="https://via.placeholder.com/232x110"></a></div><!-- end slider item -->
                            </div>
                        </div>
                        <!-- start slider navigation -->
                        <!--<div class="swiper-button-next-nav swiper-button-next  rounded-circle light slider-navigation-style-07 box-shadow-double-large"><i class="feather icon-feather-arrow-right"></i></div>
                        <div class="swiper-button-previous-nav swiper-button-prev rounded-circle light slider-navigation-style-07 box-shadow-double-large"><i class="feather icon-feather-arrow-left"></i></div>-->
                        <!-- end slider navigation -->
                        <!-- end client slider -->
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section class="no-padding wow animate__fadeIn">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-3 col-lg-5 order-1 order-lg-2 order-xl-1 justify-content-center d-flex flex-column bg-gradient-fast-blue-purple">
                        <div class="padding-6-rem-all xl-padding-2-rem-all md-padding-5-rem-all">
                            <i class="ti-quote-left icon-medium text-white margin-25px-bottom"></i>
                            <h6 class="alt-font font-weight-500 text-white letter-spacing-minus-1 margin-30px-bottom">Architecture tends to consume everything else it has become one's entire life.</h6>
                            <span class="alt-font text-uppercase text-white text-medium opacity-7">- Arne Jacobsen</span>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-12 order-2 order-lg-1 order-xl-2 lg-h-500px sm-h-300px cover-background" style="background-image: url('https://via.placeholder.com/960x700');"></div>
                    <div class="col-xl-4 col-lg-7 order-3 bg-extra-dark-gray padding-7-rem-all xl-padding-3-rem-all lg-padding-6-rem-all">
                        <div class="row justify-content-center">
                            <div class="col-md margin-2-rem-bottom sm-margin-3-rem-bottom">
                                <h6 class="alt-font text-white">Our digital marketing and business education journey!</h6>
                            </div>
                        </div>
                        <div class="row row-cols-1 row-cols-md-2">
                            <!-- start feature box item -->
                            <div class="col last-paragraph-no-margin margin-3-half-rem-bottom">
                                <div class="alt-font text-white margin-5px-bottom media"><span class="w-10px h-1px bg-white align-self-center position-relative top-minus-1px margin-10px-right"></span><div class="media-body">University of design</div></div>
                                <p class="md-w-70 xs-w-100">Lorem ipsum is simply dummy text the printing industry.</p>
                            </div>
                            <!-- end feature box item -->
                            <!-- start feature box item -->
                            <div class="col last-paragraph-no-margin margin-3-half-rem-bottom">
                                <div class="alt-font text-white margin-5px-bottom media"><span class="w-10px h-1px bg-white align-self-center position-relative top-minus-1px margin-10px-right"></span><div class="media-body">Design university</div></div>
                                <p class="md-w-70 xs-w-100">Lorem ipsum is simply dummy text the printing industry.</p>
                            </div>
                            <!-- end feature box item -->
                            <!-- start feature box item -->
                            <div class="col last-paragraph-no-margin sm-margin-3-half-rem-bottom">
                                <div class="alt-font text-white margin-5px-bottom media"><span class="w-10px h-1px bg-white align-self-center position-relative top-minus-1px margin-10px-right"></span><div class="media-body">Master of branding</div></div>
                                <p class="md-w-70 xs-w-100">Lorem ipsum is simply dummy text the printing industry.</p>
                            </div>
                            <!-- end feature box item -->
                            <!-- start feature box item -->
                            <div class="col last-paragraph-no-margin">
                                <div class="alt-font text-white margin-5px-bottom media"><span class="w-10px h-1px bg-white align-self-center position-relative top-minus-1px margin-10px-right"></span><div class="media-body">UK design institute</div></div>
                                <p class="md-w-70 xs-w-100">Lorem ipsum is simply dummy text the printing industry.</p>
                            </div>
                            <!-- end feature box item -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section class="sm-overflow-visible wow animate__fadeIn">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-7 col-lg-6 text-center">
                        <span class="d-block text-fast-blue margin-15px-bottom text-large">Love to work together</span>
                        <h5 class="text-extra-dark-gray alt-font font-weight-500 d-inline-block letter-spacing-minus-1">Are you ready to work with us? Let's grow your business.</h5>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center">
                        <div class="newsletter-style-01 position-relative d-inline-block w-80 alt-font margin-2-half-rem-top md-w-100 sm-margin-15px-top">
                            <form action="email-templates/subscribe-newsletter.php" method="post">
                                <input class="border-radius-100px medium-input border-all border-color-black-transparent m-0 padding-30px-left required" name="email" placeholder="Enter your Email" type="email">
                                <input type="hidden" name="redirect" value="">
                                <button type="submit" class="submit btn text-small text-white bg-fast-blue">Start a Project</button>
                                <div class="form-results border-radius-100px d-none position-absolute"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
{% endblock body %}