{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block slide %}
    
            <!-- start slider section -->
            <section class="p-0 wow animate__fadeIn">
                <div class="swiper-container black-move one-fourth-screen lg-h-600px" data-slider-options='{ "loop": true, "slidesPerView": 1, "pagination": { "el": ".swiper-pagination", "clickable": true }, "autoplay": { "delay": 5500, "disableOnInteraction": false }, "navigation": { "nextEl": ".swiper-button-next-nav", "prevEl": ".swiper-button-previous-nav" },  "keyboard": { "enabled": true, "onlyInViewport": true }, "effect": "slide" }'>
                    <div class="swiper-wrapper">
                        <!-- start slider item -->
                        <div class="swiper-slide cover-background" style="background-image:url('https://via.placeholder.com/1920x1005');">
                            <div class="container-fluid position-relative h-100">
                                <div class="h-100 justify-content-center justify-content-md-start d-flex">
                                    <div class="align-self-center bg-white w-30 lg-w-40 sm-w-70 xs-w-85 padding-7-rem-lr padding-5-half-rem-tb xl-padding-4-rem-lr lg-padding-2-half-rem-lr lg-padding-3-half-rem-tb xs-padding-3-half-rem-all margin-8-rem-left md-margin-6-rem-left sm-no-margin-left box-shadow-extra-large text-center text-sm-left">
                                        <a href="blog-masonry.html" class="alt-font font-weight-500 text-extra-dark-gray text-black-hover text-medium letter-spacing-2px text-uppercase d-inline-block position-relative z-index-1 margin-25px-bottom xs-margin-20px-bottom"><span class="position-absolute left-0px bottom-2px w-100 h-5px bg-light-peach d-block z-index-minus-1"></span>Winter fashion</a>
                                        <h4 class="alt-font font-weight-500 text-extra-dark-gray margin-35px-bottom letter-spacing-minus-2px"><a href="blog-post-layout-01.html" class="text-extra-dark-gray text-black-hover">Love can bring back the smile and fashion</a></h4>
                                        <a href="blog-post-layout-01.html" class="btn btn-medium btn-transparent-dark-gray btn-box-shadow-flat">continue reading</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end slider item -->
                        <!-- start slider item -->
                        <div class="swiper-slide cover-background" style="background-image:url('https://via.placeholder.com/1920x1005');">
                            <div class="container-fluid position-relative h-100">
                                <div class="h-100 justify-content-center justify-content-md-start d-flex">
                                    <div class="align-self-center bg-white w-30 lg-w-40 sm-w-70 xs-w-85 padding-7-rem-lr padding-5-half-rem-tb xl-padding-4-rem-lr lg-padding-2-half-rem-lr lg-padding-3-half-rem-tb xs-padding-3-half-rem-all margin-8-rem-left md-margin-6-rem-left sm-no-margin-left box-shadow-extra-large text-center text-sm-left">
                                        <a href="blog-masonry.html" class="alt-font font-weight-500 text-extra-dark-gray text-black-hover text-medium letter-spacing-2px text-uppercase d-inline-block position-relative z-index-1 margin-25px-bottom xs-margin-20px-bottom"><span class="position-absolute left-0px bottom-2px w-100 h-5px bg-light-peach d-block z-index-minus-1"></span>Winter fashion</a>
                                        <h4 class="alt-font font-weight-500 text-extra-dark-gray margin-35px-bottom letter-spacing-minus-2px"><a href="blog-post-layout-02.html" class="text-extra-dark-gray text-black-hover">Fashion and interior are one and the same</a></h4>
                                        <a href="blog-post-layout-02.html" class="btn btn-medium btn-transparent-dark-gray btn-box-shadow-flat">continue reading</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end slider item -->
                        <!-- start slider item -->
                        <div class="swiper-slide cover-background" style="background-image:url('https://via.placeholder.com/1920x1005');">
                            <div class="container-fluid position-relative h-100">
                                <div class="h-100 justify-content-center justify-content-md-start d-flex">
                                    <div class="align-self-center bg-white w-30 lg-w-40 sm-w-70 xs-w-85 padding-7-rem-lr padding-5-half-rem-tb xl-padding-4-rem-lr lg-padding-2-half-rem-lr lg-padding-3-half-rem-tb xs-padding-3-half-rem-all margin-8-rem-left md-margin-6-rem-left sm-no-margin-left box-shadow-extra-large text-center text-sm-left">
                                        <a href="blog-masonry.html" class="alt-font font-weight-500 text-extra-dark-gray text-black-hover text-medium letter-spacing-2px text-uppercase d-inline-block position-relative z-index-1 margin-25px-bottom xs-margin-20px-bottom"><span class="position-absolute left-0px bottom-2px w-100 h-5px bg-light-peach d-block z-index-minus-1"></span>Winter fashion</a>
                                        <h4 class="alt-font font-weight-500 text-extra-dark-gray margin-35px-bottom letter-spacing-minus-2px"><a href="blog-post-layout-03.html" class="text-extra-dark-gray text-black-hover">Reason and judgment are the qualities</a></h4>
                                        <a href="blog-post-layout-03.html" class="btn btn-medium btn-transparent-dark-gray btn-box-shadow-flat">continue reading</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end slider item -->
                    </div>
                    <!-- start slider navigation -->
                    <!--<div class="swiper-button-next-nav swiper-button-next slider-navigation-style-01"><i class="feather icon-feather-arrow-right"></i></div>
                    <div class="swiper-button-previous-nav swiper-button-prev slider-navigation-style-01"><i class="feather icon-feather-arrow-left"></i></div>-->
                    <!-- end slider navigation -->
                    <!-- start slider pagination -->
                    <div class="swiper-pagination swiper-light-pagination swiper-pagination-dot"></div>
                    <!-- end slider pagination -->
                </div> 
            </section>
            <!-- end slider section -->
{% endblock slide %}

{% block body %}

        <!-- start section -->
        <section class="wow animate__fadeIn">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-8 col-lg-3 offset-lg-1 col-md-5 col-sm-6 md-margin-50px-bottom wow animate__fadeIn" data-wow-delay="0.2s">
                        <img src="https://via.placeholder.com/775x575" alt=""/>
                    </div>
                    <div class="col-12 col-lg-6 offset-lg-1 text-center text-lg-left last-paragraph-no-margin wow animate__fadeIn" data-wow-delay="0.4s">
                        <h5 class="alt-font text-extra-dark-gray font-weight-500 letter-spacing-minus-1px">About our Lorem, ipsum dolor.</h5>
                        <p class="w-100 md-w-80 text-center text-lg-left md-margin-auto-lr">Lorem ipsum is simply dummy text of the printing and typesetting industry. lorem ipsum has been the industrys standard dummy text ever since when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries but also leap into typesetting.</p>
                    </div>
                    <div class="col-12 col-md-12 text-center d-flex flex-row align-items-center margin-4-rem-tb">
                        <span class="w-100 h-1px bg-medium-gray"></span>
                        <img src="https://via.placeholder.com/115x115" alt=""/>
                        <span class="w-100 h-1px bg-medium-gray"></span>
                    </div>
                    <div class="col-12 alt-font text-uppercase text-small font-weight-500 line-height-12px">
                        <div class="row">
                            <div class="col-12 col-md-3 col-sm-6 text-center border-right border-color-medium-gray sm-margin-20px-bottom xs-border-none wow animate__fadeIn">
                                <span class="d-block text-extra-dark-gray d-lg-inline-block md-margin-10px-bottom">Date:</span>
                                <span>08 January 2020</span>
                            </div>
                            <div class="col-12 col-md-3 col-sm-6 text-center border-right border-color-medium-gray sm-border-none sm-margin-20px-bottom wow animate__fadeIn" data-wow-delay="0.2s">
                                <span class="d-block text-extra-dark-gray d-lg-inline-block md-margin-10px-bottom">client:</span>
                                <span>Lorem, ipsum dolor.</span>
                            </div>
                            <div class="col-12 col-md-3 col-sm-6 text-center border-right border-color-medium-gray xs-border-none sm-margin-20px-bottom wow animate__fadeIn" data-wow-delay="0.4s">
                                <span class="d-block text-extra-dark-gray d-lg-inline-block md-margin-10px-bottom">industry:</span>
                                <span>Lorem ipsum dolor sit!</span>
                                </div>
                            <div class="col-12 col-md-3 col-sm-6 text-center wow animate__fadeIn" data-wow-delay="0.6s">
                                <span class="d-block text-extra-dark-gray d-lg-inline-block md-margin-10px-bottom">website:</span>
                                <a href="https://www.ferhattugrul.com/" target="_blank">domainname.com</a>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
            </section>
            <!-- end section -->
            <!-- start section -->
            <section class="pb-0 padding-100px-top md-padding-75px-tb sm-padding-50px-tb wow animate__fadeIn" data-wow-delay="0.2s">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 align-items-center">
                    <div class="col text-center text-sm-left xs-margin-10px-bottom">
                        <h4 class="alt-font font-weight-600 text-extra-dark-gray mb-0">Warpick Team</h4>
                    </div>
                    <div class="col text-center text-sm-right">
                        <a href="{% url 'portfolyo' %}" class="btn btn-link btn-extra-large text-extra-dark-gray md-margin-10px-bottom">Explore portfolio</a>
                    </div>
                </div>
            </div>
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-12 margin-8-rem-top portfolio-colorful md-margin-5-half-rem-top">
                        <div class="swiper-container swiper-auto-slide" data-slider-options='{ "loop": true, "slidesPerView": "auto", "navigation": { "nextEl": ".swiper-button-next-nav", "prevEl": ".swiper-button-previous-nav" }, "autoplay": { "delay": 3000, "disableOnInteraction": false }, "spaceBetween": 25, "effect": "slide" }'>
                            <div class="swiper-wrapper">
                                
                                {% if teammodel %}
                                {% for obj  in  teammodel %}
                                <!-- start portfolio item -->
                                <div class="swiper-slide">
                                    <a href="javascript:void(0)">
                                        <div class="portfolio-box">
                                            <div class="portfolio-image">
                                                <img src="{{obj.image.url}}" alt="">
                                                <div class="portfolio-hover bg-transparent-white justify-content-between d-flex flex-row align-items-end padding-3-rem-tb padding-4-rem-lr xl-padding-2-rem-all">
                                                    <div class="text-left">
                                                        <div class="alt-font text-small text-uppercase margin-5px-bottom text-medium-gray move-top-bottom-self"><span>{{obj.small|default_if_none:""}}</span></div>
                                                        <h6 class="font-weight-600 alt-font text-extra-dark-gray text-uppercase mb-0 move-bottom-top-self"><span>{{obj.title|default_if_none:""}}</span></h6>
                                                    </div>
                                                    <span class="position-absolute top-50px right-50px move-right-left lg-top-30px lg-right-30px sm-top-20px sm-right-20px"><i class="ti-arrow-top-right icon-small text-light-brownish-orange"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!-- end portfolio item -->
                                {% endfor %}
                                {% endif %}
                                    
                                
                        
                            </div>
                            <!-- start slider navigation -->
                            <div class="swiper-button-next-nav swiper-button-next rounded-circle slider-navigation-style-07"><i class="feather icon-feather-arrow-right"></i></div>
                            <div class="swiper-button-previous-nav swiper-button-prev rounded-circle slider-navigation-style-07"><i class="feather icon-feather-arrow-left"></i></div>
                            <!-- end slider navigation -->
                        </div>
                    </div>
                </div>
            </div>
            </section>
            <!-- end section -->
            <!-- start section -->
            <section class="bg-gradient-white-light-gray border-top border-width-1px border-color-medium-gray">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-7 text-center margin-4-rem-bottom sm-margin-3-rem-bottom wow animate__fadeIn">
                            <span class="alt-font text-medium text-olivine-red text-uppercase font-weight-500 d-block margin-15px-bottom sm-margin-10px-bottom">Satisfied clients</span>
                            <h5 class="alt-font text-dark-charcoal font-weight-700 text-uppercase letter-spacing-minus-1px">Clients testimonials</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <div class="swiper-container black-move swiper-horizontal-3d padding-7-rem-tb swiper-pagination-bottom sm-padding-10-rem-top xs-padding-8-rem-top"  data-slider-options='{ "loop": true, "slidesPerView": 1,"centeredSlides":true,"effect":"coverflow","coverflowEffect":{"rotate":0,"stretch":100,"depth":150,"modifier":1.5,"slideShadows":true}, "navigation": { "nextEl": ".swiper-button-next", "prevEl": ".swiper-button-prev" }, "autoplay": { "delay": 3000, "disableOnInteraction": false }, "pagination": { "el": ".swiper-pagination", "clickable": true, "dynamicBullets": true }, "breakpoints": { "768": { "slidesPerView": 2 } } }'>
                                <div class="swiper-wrapper">
                                    
                                    {% if clien_opinion %}
                                        
                                        {% for obj in clien_opinion  %}
                                    <!-- start slider item -->
                                    <div class="swiper-slide bg-white border-radius-4px">
                                        <div class="position-relative padding-5-rem-lr  md-padding-3-rem-lr padding-4-half-rem-bottom padding-8-rem-top sm-padding-10-rem-top xs-padding-8-rem-top">
                                            <img alt="" src="{{obj.image.url}}" class="absolute-middle-center top-0px rounded-circle w-150px xs-w-100px border-all border-color-white box-shadow-extra-large border-width-8px">
                                            <div class="testimonials-content">
                                                <span class="text-extra-medium text-extra-dark-gray margin-10px-bottom d-block font-weight-500">{{obj.title|default_if_none:""}}</span>
                                                <p class="margin-30px-bottom">{{obj.decription|default_if_none:""}}</p>
                                            </div>
                                            <div class="testimonials-author text-medium margin-5px-bottom text-olivine-red text-uppercase font-weight-500 d-inline-block">{{obj.name|default_if_none:""}}</div>
                                            <div class="testimonials-position text-medium">{{obj.company|default_if_none:""}}</div> 
                                        </div>
                                    </div>
                                    <!-- end slider item -->
                                        {% endfor %}    
                                    {% endif %}
                                </div>
                                <!-- start slider pagination -->
                                <!-- <div class="swiper-pagination"></div> -->
                                <!-- end slider pagination -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end section -->
            <!-- start client section -->
            <section class="big-section">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-12 text-center margin-six-bottom">
                            <h6 class="alt-font text-extra-dark-gray font-weight-500">Clients</h6>
                        </div>
                    </div>
                    <div class="row row-cols-1 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 client-logo-style-01 align-items-center">

                        
                        {% if clientsmodel %}
                            
                            {% for obj in clientsmodel  %}
                                
                        <!-- start client logo item -->
                        <div class="col text-center margin-30px-bottom sm-margin-15px-bottom">
                            <div class="client-box padding-15px-all border border-color-dark-gray">
                                <a href="javascript:void(0)"><img class="client-box-image" src="{{obj.image.url}}" alt="{{ob.title}}" /></a>
                            </div>
                        </div>
                        <!-- end client logo item -->
                            {% endfor %}
                                
                        {% endif %}
                            
                     
                    </div>
                </div>
            </section>
            <!-- end section -->


{% endblock body %}