{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block body %}

        <!-- start section-->
        <section class="h-700px sm-h-400px xs-h-300px overlap-height cover-background" style="background-image: url('{% static 'images/portfolio-bg.jpg' %}');">
        </section>
        <!-- end section -->
        <!-- start section-->
        <section class="pb-0 pt-md-0 overflow-visible">
            <div class="container">
                <div class="row justify-content-center overlap-section z-index-0">
                    <div class="col-12 col-lg-10 alt-font text-center bg-orange-zest text-white padding-7-rem-tb position-relative tilt-box" data-tilt-options='{ "maxTilt": 20, "perspective": 1000, "easing": "cubic-bezier(.03,.98,.52,.99)", "scale": 1, "speed": 500, "transition": true, "reset": true, "glare": false, "maxGlare": 1 }' style="background-image: url('{% static 'images/blog-post-layout-02-img-pattern.png' %}');">
                        <div class="w-1px h-90px bg-white mx-auto absolute-middle-center top-0px"></div>
                        <div class="text-uppercase text-medium font-weight-500 margin-25px-bottom alt-font"><a href="blog-grid.html" class="text-white d-inline-block">Creative</a><span class="margin-20px-lr w-1px h-10px bg-white d-inline-block"></span><a href="blog-grid.html" class="d-inline-block text-white">Freebies</a><span class="margin-20px-lr w-1px h-10px bg-white d-inline-block"></span><a href="blog-grid.html" class="d-inline-block text-white">Events</a></div>
                        <h3 class="font-weight-600 w-50 mx-auto md-w-70 xs-w-90">we are a creative pottery studio</h3>
                        <div class="d-inline-block text-white-transparent margin-5px-top">By <a href="blog-grid.html" class="d-inline-block text-white-transparent text-white-hover">Shane smith</a> on <a href="blog-grid.html" class="d-inline-block text-white-transparent text-white-hover">26 November 2019</a></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section class="big-section">
            <div class="container">
                <div class="row justify-content-center">  
                    <div class="col-12 col-lg-10 p-sm-0">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-6 sm-margin-30px-bottom wow animate__fadeIn" data-wow-delay="0.2s"><img src="https://via.placeholder.com/800x917" alt="" /></div>
                            <div class="col-12 col-lg-5 offset-lg-1 col-md-6 last-paragraph-no-margin wow animate__fadeIn" data-wow-delay="0.4s"> 
                                <span class="text-orange-zest alt-font text-uppercase font-weight-500 margin-25px-bottom d-block xs-margin-15px-bottom">The decorative arts</span>
                                <h5 class="alt-font text-extra-dark-gray margin-35px-bottom font-weight-500 xs-margin-25px-bottom">Pottery is the process and the products of <span class="font-weight-600">forming vessels</span></h5>
                                <p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's standard dummy text ever since, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries but also the leap into electronic typesetting remaining essentially unchanged.</p>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section class="bg-orange-zest overlap-height padding-80px-bottom sm-padding-50px-bottom" style="background-image: url('{% static 'images/blog-post-layout-02-img-pattern.png' %}');"> 
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-xl-7 col-lg-8 col-md-10 text-center overlap-gap-section wow animate__fadeIn">
                        <span class="alt-font d-block text-white text-uppercase font-weight-500 margin-25px-bottom">These artists are masters at pottery</span>
                        <h5 class="alt-font font-weight-500 text-white d-inline-block w-90 margin-10px-bottom">Pottery, one of the oldest and most widespread of the decorative arts</h5>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section class="pt-md-0 pb-0 overflow-visible">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 overlap-section p-sm-0">
                        <div class="row">
                            <div class="col-12 col-md-6 sm-margin-15px-bottom wow animate__fadeIn" data-wow-delay="0.2s">
                                <img src="https://via.placeholder.com/800x600" alt="" />
                                <div class="padding-4-half-rem-all bg-extra-dark-gray last-paragraph-no-margin md-padding-3-rem-all">
                                    <h6 class="alt-font text-extra-large text-white">Architecture tends to everything else has become enjoying life</h6>
                                    <p>Lorem ipsum has been the industry's standard dummy text ever since when an unknown printer the  took of  the galley of type and scram bled it to make on type in specimen book.</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 d-flex wow animate__fadeIn" data-wow-delay="0.4s">
                                <div class="cover-background w-100 sm-h-450px" style="background-image: url('https://via.placeholder.com/800x1100')"></div>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>           
        </section>
        <!-- end section -->
        <!-- start section -->
        <section>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 wow animate__fadeIn" data-wow-delay="0.2s">
                        <p class="margin-10px-bottom"><span class="first-letter-big text-orange-zest mr-4">M</span>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has suvived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p> 
                    </div>
                </div>
            </div> 
        </section>
        <!-- end section -->
        <!-- start section -->
        <section class="p-0 wow animate__fadeIn">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-xl-4 col-md-6 order-md-2 order-xl-1 bg-orange-zest text-white d-flex flex-column justify-content-center padding-8-half-rem-all xl-padding-5-half-rem-all md-padding-4-half-rem-all wow animate__fadeIn" data-wow-delay="0.2s">
                        <i class="ti-quote-left icon-large margin-2-rem-bottom opacity-4"></i>
                        <h6 class="alt-font font-weight-300 margin-30px-bottom">Architecture tends to consume everything else, it has become one's entire best design life.</h6>
                        <span class="alt-font text-uppercase font-weight-500 text-medium letter-spacing-1px text-extra-dark-gray">Arne Jacobsen</span>
                    </div>
                    <div class="col-12 col-xl-4 order-md-1 order-xl-2 cover-background lg-h-500px wow animate__fadeIn" data-wow-delay="0.4s" style="background-image: url('https://via.placeholder.com/800x800');"></div>
                    <div class="col-12 col-xl-4 col-md-6 order-md-3 bg-extra-dark-gray padding-8-half-rem-all last-paragraph-no-margin xl-padding-5-half-rem-all md-padding-4-half-rem-all wow animate__fadeIn" data-wow-delay="0.6s">  
                        <h5 class="alt-font text-white">Pottery is one of the most relaxing things you can watch!</h5>
                        <p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been standard dummy text ever since. Lorem ipsum has been book on industry lorem ipsum has been.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-10">
                        <div class="row">
                            <div class="col-12 col-md-6 wow animate__fadeIn" data-wow-delay="0.2s">
                                <h6 class="alt-font font-weight-300 text-extra-dark-gray w-80 font-weight-500 lg-w-90 md-w-100">You have to be in tune with the clay and react to what state it’s in to work with it</h6>
                            </div>
                            <div class="col-12 col-md-6 last-paragraph-no-margin wow animate__fadeIn" data-wow-delay="0.4s">
                                <p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been standard dummy text ever since. Lorem ipsum been the industry consectetur eiusmod tempor. Lorem ipsum been the industry tempor.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section class="cover-background" style="background: url('https://via.placeholder.com/1920x1100');">
            <div class="container">
                <div class="row  justify-content-center">
                    <div class="col-11 col-sm-10">
                        <div class="row justify-content-center justify-xl-content-end">
                            <div class="col-12 col-xl-7 col-lg-8 padding-6-rem-all bg-white box-shadow-extra-large xs-padding-3-rem-all wow animate__fadeIn" data-wow-delay="0.2s">
                                <h5 class="alt-font text-extra-dark-gray font-weight-500">To create, one must first question everything</h5>
                                <p>With years of experience in the website design and development industry oref pride ourselves on creating unique, creative &amp; quality designs that are developed upon the latest coding.</p>
                                <ul class="p-0 list-style-02 margin-2-rem-top">
                                    <li class="margin-15px-bottom wow animate__fadeIn" data-wow-delay="0.2s"><i class="feather icon-feather-arrow-right-circle text-large text-orange-zest margin-10px-right" aria-hidden="true"></i><span class="text-extra-dark-gray">Beautiful and easy to understand animations</span></li>
                                    <li class="margin-15px-bottom wow animate__fadeIn" data-wow-delay="0.4s"><i class="feather icon-feather-arrow-right-circle text-large text-orange-zest margin-10px-right" aria-hidden="true"></i><span class="text-extra-dark-gray">Theme advantages are pixel perfect design</span></li>
                                    <li class="wow animate__fadeIn" data-wow-delay="0.6s"><i class="feather icon-feather-arrow-right-circle text-large text-orange-zest margin-10px-right" aria-hidden="true"></i><span class="text-extra-dark-gray">Theme advantages are pixel perfect design</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </section>
        <!-- end section -->
        <!-- start section -->
        <section>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-xl-10 col-lg-11">
                        <div class="row">
                            <!-- start services item -->
                            <div class="col-12 col-md-6 margin-4-half-rem-bottom sm-margin-8-half-rem-bottom wow animate__fadeIn" data-wow-delay="0.2s">
                                <div class="cover-background h-450px d-flex align-items-end padding-30px-lr overflow-visible xs-padding-15px-lr" style="background: url('https://via.placeholder.com/800x750');">
                                    <div class="text-center bg-white padding-45px-lr padding-55px-tb last-paragraph-no-margin bottom-minus-50px position-relative box-shadow-medium lg-padding-35px-lr xs-padding-20px-lr xs-padding-35px-tb">
                                        <span class="text-extra-medium text-extra-dark-gray alt-font margin-5px-bottom font-weight-500 d-inline-block">The great building must begin</span>
                                        <p>Lorem ipsum is simply dummy text of the printing and typesetting industry</p>
                                    </div>
                                </div>
                            </div>
                            <!-- end services item -->
                            <!-- start services item -->
                            <div class="col-12 col-md-6 margin-4-half-rem-bottom wow animate__fadeIn" data-wow-delay="0.4s">
                                <div class="cover-background h-450px d-flex align-items-end padding-30px-lr overflow-visible xs-padding-15px-lr" style="background: url('https://via.placeholder.com/800x750');">
                                    <div class="text-center bg-white padding-45px-lr padding-55px-tb last-paragraph-no-margin bottom-minus-50px position-relative box-shadow-medium lg-padding-35px-lr xs-padding-20px-lr xs-padding-35px-tb">
                                        <span class="text-extra-medium text-extra-dark-gray alt-font margin-5px-bottom font-weight-500 d-inline-block">There are no rules of architecture</span>
                                        <p>Lorem ipsum is simply dummy text of the on printing and typesetting industry</p>
                                    </div>
                                </div>
                            </div>
                            <!-- end services item -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->

{% endblock body %}